* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(pics/img.jpg);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

#logo-div {
  text-align: center;
  background-color: #fff5e4;
}

img {
  width: 80px;
  height: auto;
  mix-blend-mode: multiply;
}

header {
  text-align: center;
  margin-top: 4.5em;
  margin-bottom: 1.5em;
}

#title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: xxx-large;
}

#description {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#form-container {
  width: 40%;
  padding: 2em 2.5em;
  margin: 0 auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.25em;
  background-color: #b49873cc;
  border-radius: 1%;
  border: 1px solid rgba(0, 0, 0);
}

.form-ele {
  margin-bottom: 1.5em;
}

.form-ele-question {
  display: block;
  margin-bottom: 0.5em;
}

input {
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  height: auto;
}

input[type="radio"],
input[type="checkbox"] {
  transform: scale(1.25);
}

.recommendation-options,
.improvement-options {
  margin-bottom: 0.25em;
}

input[class="form-input"],
select {
  width: 100%;
  height: 2.5em;
}

label[for="to_be_improved"] {
  margin-bottom: 0.5em;
}

textarea {
  width: 100%;
}

#button-div {
  margin-bottom: 0;
}

#submit-btn {
  width: 100%;
  height: 2.5em;
}

#submit-btn:hover {
  cursor: pointer;
  background-color: #7a7254;
  color: #fff;
}
